<!-- Footer -->
<footer class="content-footer">
    <div class="footer-container">
        <div class="text-body">
            © Periodo C-3
            <script>
                document.write(new Date().getFullYear());
            </script>
            Tarea 2 Programación Web
            <a href="https://adamix.net/web/" target="_blank" class="footer-link">Amadís Suarez
                Genao</a>
        </div>
    </div>
</footer>
<!-- / Footer -->