@inherits LayoutComponentBase

<!-- Layout page -->
<div class="layout-page">
  <NavbarMenu />
  <!-- Content -->
  <div class="container">
    <div class="content-page">
      @Body
    </div>
    <FooterMenu />
  </div>
</div>
<!-- / Layout page -->
