<!-- Navbar -->
<nav class="layout-navbar bg-navbar-theme">
    <NavLink class="nav-item " href="/">
        Tarea 3
    </NavLink>

    <div class="nav-item">
        Jenry Jose Sanchez 2023-1080
        <i class="fa-solid fa-user"></i>
    </div>
</nav>
<!-- / Navbar -->
