<div class="card card-dash">
    <div class="card-content">
        <h2 style="color: @tituloColor;">@titulo</h2>
        <p>@cantidad</p>
    </div>
</div>




@code {
    [Parameter]
    public string? titulo { get; set; }
    [Parameter]
    public string? tituloColor { get; set; }
    [Parameter]
    public int? cantidad { get; set; }
}
